
.bg-body {
  background-color: #f8f9fa; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  border-radius: 10px;
}

/* Estilos para los enlaces generados dinámicamente */
.custom-collapse .nav-link {
  color: #000000; 
  padding: 8px 16px; 
  text-decoration: none; 
  transition: color 0.3s ease; 
}

.custom-collapse .nav-link:hover {
  color: #e2e611; 
  background-color: #000000;
  border-radius: 10px;
}

.custom-collapse .nav-link:focus {
  color: #e2e611; 
  background-color: #000000;
  border-radius: 10px;
  text-shadow: 0 0 5px rgba(255, 215, 0, 0.5);
  text-decoration: none;
  outline: none;
}

/* Estilos para el botón de cambio de idioma */
.language-button button {
  background-color: #007bff; 
  color: #fff; 
  padding: 8px 16px; 
  cursor: pointer; 
  transition: background-color 0.3s ease; 
  border-radius: 10px;
}

.language-button button:hover {
  background-color: #00346b;
}

.navbar-collapse {
  flex-grow: 0 !important;
}

